html {
  background-color: black;
  text-align: center;
}

h1 {
  font-family: Verdana;
  font-size: 50px;
  color: white;
}

a {
  color: Aquamarine;
  font-size: 16px;
  font-family: Verdana;
}

h2 {
  font-family: Verdana;
  font-size: 42px;
  color: white;
}

p {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}

footer {
  text-align: right;
  color: gray;
  font-size: 21px;
  font-family: Verdana;
}
